// reset
html, body { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html * { outline: 0; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body,th,td,p,ol,ul,li,dl,dt,dd,a,h1,h2,h3,h4,h5,h6,form,fieldset,input,legend,select,textarea{ margin:0; padding:0; }
input,img,fieldset{ border:none; }
input, select,fieldset{ vertical-align:middle; }
ul, ol { padding-left: 0; list-style-type: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { max-width: 100%; vertical-align: top; }
i, cite, em, var, address, dfn { font-style: normal; }
a:link{ text-decoration: none }
a:hover{ text-decoration: none }
a:active{ text-decoration: none }
a:visited{ text-decoration: none }

// When use placeholder, this css can hide it when the input focused. This is selectable, not must.
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder, input:focus::-moz-placeholder { color: transparent; }

button, input[type=button], input[type=password], input[type=submit], input[type=text], textarea { -webkit-appearance: none; }
input:-ms-clear { display:none; }  /* clear IE10 X */
// in Android WebView, The strange situation appears when the input element input
input { -webkit-user-modify: read-write-plaintext-only; }
select{ overflow-x:hidden; }

// common css
.clear::after{ content:""; display:block; height:0; clear:both; line-height: 0; visibility: hidden; }  
// position
.tl { text-align:left; }
.tc { text-align:center; }
.tr { text-align:right; }
.bc { margin:0 auto; }
.fl { float:left; }
.fr { float:right; }
.vm { vertical-align: middle; }
.pr { position: relative; }
.pa { position: absolute; }
.none { display: none; }
.block { display: block; }
// font
.f12 { font-size: 12px; }
.f13 { font-size: 13px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f20 { font-size: 20px; }
.fb { font-weight: bold; }
.fn { font-weight: normal; }
.t2 { text-indent: 2em; }

/* ellipsis */
.elli { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.mr6 { margin-right:6px; }

.w10 { width:10px; }

.h10 { height:10px; }
del { text-decoration: line-through; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }

html, body {
	height: 100%;
}


$baseSize:(750/16);


#lottery{width:649/$baseSize*1rem;height:485/$baseSize*1rem;margin:.1rem auto 0;padding-top:1.35rem}
#lottery table{margin:0 auto 0}
#lottery table td{width:157/$baseSize*1rem;height:158/$baseSize*1rem;text-align:center;vertical-align:top;font-size:24px;color:#333;font-index:-999;background:url(../images/no-select.png) center top no-repeat;background-size:100% 100%;border:.15rem solid transparent}
#lottery table td a{width:100%;height:3.425rem;display:block;text-decoration:none;background:url(../images/chouBtn.png) center top no-repeat;background-size:100% 100%}
#lottery table .tip_text{color:#f6dc5f;font-size:20/$baseSize*1rem;font-family:'Microsoft YaHei';line-height:28/$baseSize*1rem;display:block;width:100%;text-align:center;padding-top:2.2rem}
#lottery table td img{width:84/$baseSize*1rem;height:86/$baseSize*1rem;margin-top:.25rem}
#lottery table td.active{background:url(../images/select.png) center top no-repeat;background-size:100% 100%}
#lottery table .item_text{color:#ffeb60;font-size:20/$baseSize*1rem;font-family:'Microsoft YaHei';line-height:28/$baseSize*1rem;margin:.1rem auto 0;width:95%}